* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 15% 65% 20%;


}

/* navbar */
.nav {
    background-color: #21242d;
    height: 100vh;
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    gap: 30px;


}

.logo {
    color: white;
    padding: 15px 10px 10px 15px;
    font-size: 1.2em;
    margin-bottom: 2px;
    height: 5em;
   
}
.logo>h1{
    margin-left: 0;
    padding: 0px;
    height: 1.4em;
   font-size: 1.3em;
   margin: 0px;
}
.log>h4{

    font-size: 1em;
}

#menu {
    margin-left: 10px;
    padding-bottom: 10px;

}



.menu,
ul,
li {
    margin: 5px;
    color: aliceblue;
    list-style: none;
    width: 100%;
}

/*icones do menu*/
#home {
    filter: brightness(0) invert(1);
    width: 1.5em;
    height: 1.5em;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.71205 19.2165C0.731983 14.7378 0.979718 10.7505 1.19878 9.21903C1.22156 9.18083 1.26188 9.12096 1.3271 9.03762C1.47501 8.84861 1.70084 8.60214 2.00458 8.30278C2.60899 7.7071 3.44945 6.97258 4.4089 6.17899C6.32335 4.59548 8.64444 2.83178 10.3366 1.57188C11.3568 0.812318 12.7404 0.80911 13.7633 1.5639C15.4695 2.82291 17.8111 4.58864 19.7304 6.17389C20.6926 6.96861 21.53 7.70271 22.1245 8.29655C22.4236 8.59528 22.6406 8.8382 22.778 9.02132C22.8258 9.08502 22.8572 9.13255 22.8767 9.16498C22.9852 10.7948 23.2496 14.7791 22.3719 19.2371C22.1475 20.3774 21.7303 21.0875 21.1279 21.5714C20.5005 22.0755 19.5539 22.4301 18.0887 22.6131C17.3588 22.7043 16.6359 22.7793 15.9182 22.8382C13.272 23.0553 10.6918 23.0539 8.08393 22.8342C7.39282 22.776 6.69945 22.7024 6.00208 22.6135C4.54036 22.427 3.60663 22.0692 2.98443 21.5644C2.38303 21.0765 1.96249 20.361 1.71205 19.2165ZM1.18016 9.25341C1.18007 9.25343 1.18083 9.25163 1.1827 9.2479C1.18118 9.25152 1.18025 9.25338 1.18016 9.25341ZM22.9016 9.2113C22.9014 9.21126 22.9003 9.20897 22.8986 9.20457C22.9008 9.20914 22.9017 9.21135 22.9016 9.2113Z' stroke='%2300B9AE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

}

#polygon {
    width: 1.5em;
    height: 1.5em;


    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12C1 14.4477 1.13246 16.3463 1.46153 17.827C1.78807 19.2963 2.29478 20.2921 3.00136 20.9986C3.70794 21.7052 4.70365 22.2119 6.17298 22.5385C7.65366 22.8675 9.55232 23 12 23C14.4477 23 16.3463 22.8675 17.827 22.5385C19.2963 22.2119 20.2921 21.7052 20.9986 20.9986C21.7052 20.2921 22.2119 19.2963 22.5385 17.827C22.8675 16.3463 23 14.4477 23 12C23 9.55232 22.8675 7.65366 22.5385 6.17298C22.2119 4.70365 21.7052 3.70794 20.9986 3.00136C20.2921 2.29478 19.2963 1.78807 17.827 1.46153C16.3463 1.13246 14.4477 1 12 1C9.55232 1 7.65366 1.13246 6.17298 1.46153C4.70365 1.78807 3.70794 2.29478 3.00136 3.00136C2.29478 3.70794 1.78807 4.70365 1.46153 6.17298C1.13246 7.65366 1 9.55232 1 12Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.1594 8.7664C17.6017 7.56567 16.434 6.39804 15.2333 6.84036L9.74928 8.86057C9.33704 9.01242 9.0121 9.33736 8.86025 9.7496L6.84004 15.2336C6.39772 16.4344 7.56535 17.602 8.76608 17.1597L14.2501 15.1395C14.6624 14.9876 14.9873 14.6627 15.1392 14.2504L17.1594 8.7664Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

}

#union {
    width: 1.5em;
    height: 1.3em;


    background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.51752 3.26678C6.66282 3.09089 7.17879 2.72998 8.30232 2.43106C9.34893 2.15259 10.6527 2.00002 12 2.00001C13.3474 1.99999 14.6511 2.15254 15.6977 2.43099C16.8212 2.7299 17.3371 3.09081 17.4824 3.2667C17.4796 3.26329 17.4803 3.26449 17.4838 3.27111C17.5035 3.30746 17.6117 3.50717 17.7215 4.00543C17.8401 4.54431 17.9231 5.25302 17.9659 6.10652C18.0513 7.80966 17.9675 9.8734 17.8146 11.8691C17.5926 14.7663 15.0869 17 12 17C8.91306 17 6.40736 14.7663 6.18539 11.8691C6.03248 9.87335 5.94874 7.80958 6.03413 6.10644C6.07692 5.25293 6.15985 4.54423 6.27855 4.00537C6.38826 3.50727 6.4964 3.30758 6.5161 3.2712C6.5197 3.26455 6.52035 3.26335 6.51752 3.26678ZM4.9756 1.99301C7.17069 -0.664196 16.8293 -0.664458 19.0244 1.99301C19.4223 2.47476 19.676 3.34073 19.8246 4.4358C23.1158 5.02972 24 6.3396 24 8.99997C24 11.7433 23.0598 13.0506 19.5094 13.6177C18.5377 16.8058 15.4848 19 12 19C8.5152 19 5.46233 16.8058 4.49061 13.6177C0.940222 13.0506 0 11.7434 0 8.99997C0 6.33961 0.884176 5.02973 4.17539 4.4358C4.324 3.3407 4.57766 2.47472 4.9756 1.99301ZM4.0162 6.50894C3.62811 6.59841 3.31553 6.69704 3.06348 6.80206C2.51426 7.0309 2.34242 7.24964 2.25002 7.42289C2.12217 7.66258 2 8.10605 2 8.99997C2 9.89388 2.12217 10.3373 2.25002 10.577C2.34242 10.7503 2.51426 10.969 3.06348 11.1979C3.34479 11.3151 3.70151 11.4243 4.15446 11.5218C4.03516 9.82662 3.96685 8.06778 4.0162 6.50894ZM19.8455 11.5218C20.2985 11.4243 20.6552 11.3151 20.9365 11.1979C21.4857 10.969 21.6576 10.7503 21.75 10.577C21.8778 10.3373 22 9.89388 22 8.99997C22 8.10605 21.8778 7.66258 21.75 7.42289C21.6576 7.24964 21.4857 7.0309 20.9365 6.80206C20.6845 6.69704 20.3719 6.59841 19.9838 6.50894C20.0331 8.06779 19.9648 9.82662 19.8455 11.5218Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A");
}

#celebrities {


    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L11 15L9 13' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.1909 1.89863C11.0994 0.700456 12.9006 0.700456 13.8091 1.89863L14.9438 3.39506C15.1917 3.72195 15.5966 3.88968 16.003 3.8338L17.8635 3.578C19.3531 3.37318 20.6268 4.64685 20.422 6.13651L20.1662 7.99698C20.1103 8.40339 20.2781 8.80832 20.6049 9.05618L22.1014 10.1909C23.2995 11.0994 23.2995 12.9006 22.1014 13.8091L20.6049 14.9438C20.2781 15.1917 20.1103 15.5966 20.1662 16.003L20.422 17.8635C20.6268 19.3531 19.3531 20.6268 17.8635 20.422L16.003 20.1662C15.5966 20.1103 15.1917 20.2781 14.9438 20.6049L13.8091 22.1014C12.9006 23.2995 11.0994 23.2995 10.1909 22.1014L9.05618 20.6049C8.80832 20.2781 8.40339 20.1103 7.99698 20.1662L6.13651 20.422C4.64685 20.6268 3.37318 19.3531 3.578 17.8635L3.8338 16.003C3.88968 15.5966 3.72195 15.1917 3.39506 14.9438L1.89863 13.8091C0.700456 12.9006 0.700456 11.0994 1.89863 10.1909L3.39506 9.05618C3.72195 8.80832 3.88968 8.40339 3.8338 7.99698L3.578 6.13651C3.37318 4.64685 4.64685 3.37318 6.13651 3.578L7.99698 3.8338C8.40339 3.88968 8.80832 3.72195 9.05618 3.39506L10.1909 1.89863Z' stroke='%23F9F9F9' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.lista-menu {
    display: flex;
    flex-direction: column;

}

.item {
    display: flex;
    padding: 4px 5px 12px 0px;
    gap: 10px;
    align-items: center;
    transition: filter 0.3s;
    width: auto;


}


.item:hover {

    cursor: pointer;
    filter: invert(74%) sepia(36%) saturate(749%) hue-rotate(139deg) brightness(100%) contrast(88%);

}

#recent {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='94' height='24' viewBox='0 0 94 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.301 12.25C44.781 12.25 45.201 12.193 45.561 12.079C45.921 11.959 46.221 11.794 46.461 11.584C46.701 11.374 46.881 11.125 47.001 10.837C47.121 10.543 47.181 10.219 47.181 9.865C47.181 9.157 46.947 8.617 46.479 8.245C46.011 7.873 45.303 7.687 44.355 7.687H42.645V12.25H44.301ZM50.403 19H48.522C48.15 19 47.88 18.856 47.712 18.568L44.688 14.203C44.586 14.053 44.475 13.945 44.355 13.879C44.235 13.813 44.055 13.78 43.815 13.78H42.645V19H40.539V6.04H44.355C45.207 6.04 45.939 6.127 46.551 6.301C47.169 6.475 47.676 6.724 48.072 7.048C48.468 7.366 48.759 7.75 48.945 8.2C49.137 8.65 49.233 9.151 49.233 9.703C49.233 10.153 49.164 10.573 49.026 10.963C48.894 11.353 48.699 11.707 48.441 12.025C48.189 12.343 47.877 12.619 47.505 12.853C47.133 13.087 46.71 13.27 46.236 13.402C46.494 13.558 46.716 13.777 46.902 14.059L50.403 19ZM57.0281 13.375C57.0281 13.051 56.9801 12.751 56.8841 12.475C56.7941 12.193 56.6591 11.95 56.4791 11.746C56.2991 11.536 56.0741 11.374 55.8041 11.26C55.5401 11.14 55.2341 11.08 54.8861 11.08C54.1841 11.08 53.6321 11.281 53.2301 11.683C52.8281 12.085 52.5731 12.649 52.4651 13.375H57.0281ZM52.4111 14.563C52.4351 15.085 52.5161 15.538 52.6541 15.922C52.7921 16.3 52.9751 16.615 53.2031 16.867C53.4371 17.119 53.7131 17.308 54.0311 17.434C54.3551 17.554 54.7151 17.614 55.1111 17.614C55.4891 17.614 55.8161 17.572 56.0921 17.488C56.3681 17.398 56.6081 17.302 56.8121 17.2C57.0161 17.092 57.1901 16.996 57.3341 16.912C57.4781 16.822 57.6101 16.777 57.7301 16.777C57.8861 16.777 58.0061 16.837 58.0901 16.957L58.6391 17.668C58.4111 17.938 58.1531 18.166 57.8651 18.352C57.5771 18.538 57.2711 18.691 56.9471 18.811C56.6231 18.925 56.2901 19.006 55.9481 19.054C55.6061 19.108 55.2731 19.135 54.9491 19.135C54.3131 19.135 53.7221 19.03 53.1761 18.82C52.6361 18.604 52.1651 18.289 51.7631 17.875C51.3671 17.461 51.0551 16.948 50.8271 16.336C50.6051 15.724 50.4941 15.019 50.4941 14.221C50.4941 13.585 50.5931 12.991 50.7911 12.439C50.9951 11.887 51.2831 11.407 51.6551 10.999C52.0331 10.591 52.4891 10.27 53.0231 10.036C53.5631 9.796 54.1721 9.676 54.8501 9.676C55.4141 9.676 55.9361 9.769 56.4161 9.955C56.8961 10.135 57.3101 10.402 57.6581 10.756C58.0061 11.11 58.2761 11.545 58.4681 12.061C58.6661 12.571 58.7651 13.153 58.7651 13.807C58.7651 14.107 58.7321 14.308 58.6661 14.41C58.6001 14.512 58.4801 14.563 58.3061 14.563H52.4111ZM67.0586 11.62C66.9986 11.698 66.9416 11.758 66.8876 11.8C66.8336 11.842 66.7556 11.863 66.6536 11.863C66.5516 11.863 66.4436 11.827 66.3296 11.755C66.2216 11.683 66.0896 11.605 65.9336 11.521C65.7836 11.431 65.6006 11.35 65.3846 11.278C65.1686 11.206 64.8986 11.17 64.5746 11.17C64.1546 11.17 63.7856 11.245 63.4676 11.395C63.1556 11.545 62.8916 11.761 62.6756 12.043C62.4656 12.319 62.3066 12.658 62.1986 13.06C62.0966 13.456 62.0456 13.903 62.0456 14.401C62.0456 14.917 62.1026 15.376 62.2166 15.778C62.3306 16.18 62.4926 16.519 62.7026 16.795C62.9186 17.071 63.1766 17.281 63.4766 17.425C63.7826 17.569 64.1246 17.641 64.5026 17.641C64.8746 17.641 65.1776 17.596 65.4116 17.506C65.6456 17.416 65.8406 17.317 65.9966 17.209C66.1526 17.101 66.2846 17.002 66.3926 16.912C66.5066 16.822 66.6266 16.777 66.7526 16.777C66.9086 16.777 67.0286 16.837 67.1126 16.957L67.6616 17.668C67.4396 17.938 67.1936 18.166 66.9236 18.352C66.6536 18.538 66.3686 18.691 66.0686 18.811C65.7686 18.925 65.4566 19.006 65.1326 19.054C64.8086 19.108 64.4816 19.135 64.1516 19.135C63.5816 19.135 63.0476 19.03 62.5496 18.82C62.0576 18.604 61.6256 18.295 61.2536 17.893C60.8876 17.485 60.5966 16.99 60.3806 16.408C60.1706 15.82 60.0656 15.151 60.0656 14.401C60.0656 13.723 60.1616 13.096 60.3536 12.52C60.5456 11.938 60.8246 11.437 61.1906 11.017C61.5626 10.597 62.0216 10.27 62.5676 10.036C63.1136 9.796 63.7436 9.676 64.4576 9.676C65.1236 9.676 65.7086 9.784 66.2126 10C66.7226 10.216 67.1756 10.522 67.5716 10.918L67.0586 11.62ZM75.0809 13.375C75.0809 13.051 75.0329 12.751 74.9369 12.475C74.8469 12.193 74.7119 11.95 74.5319 11.746C74.3519 11.536 74.1269 11.374 73.8569 11.26C73.5929 11.14 73.2869 11.08 72.9389 11.08C72.2369 11.08 71.6849 11.281 71.2829 11.683C70.8809 12.085 70.6259 12.649 70.5179 13.375H75.0809ZM70.4639 14.563C70.4879 15.085 70.5689 15.538 70.7069 15.922C70.8449 16.3 71.0279 16.615 71.2559 16.867C71.4899 17.119 71.7659 17.308 72.0839 17.434C72.4079 17.554 72.7679 17.614 73.1639 17.614C73.5419 17.614 73.8689 17.572 74.1449 17.488C74.4209 17.398 74.6609 17.302 74.8649 17.2C75.0689 17.092 75.2429 16.996 75.3869 16.912C75.5309 16.822 75.6629 16.777 75.7829 16.777C75.9389 16.777 76.0589 16.837 76.1429 16.957L76.6919 17.668C76.4639 17.938 76.2059 18.166 75.9179 18.352C75.6299 18.538 75.3239 18.691 74.9999 18.811C74.6759 18.925 74.3429 19.006 74.0009 19.054C73.6589 19.108 73.3259 19.135 73.0019 19.135C72.3659 19.135 71.7749 19.03 71.2289 18.82C70.6889 18.604 70.2179 18.289 69.8159 17.875C69.4199 17.461 69.1079 16.948 68.8799 16.336C68.6579 15.724 68.5469 15.019 68.5469 14.221C68.5469 13.585 68.6459 12.991 68.8439 12.439C69.0479 11.887 69.3359 11.407 69.7079 10.999C70.0859 10.591 70.5419 10.27 71.0759 10.036C71.6159 9.796 72.2249 9.676 72.9029 9.676C73.4669 9.676 73.9889 9.769 74.4689 9.955C74.9489 10.135 75.3629 10.402 75.7109 10.756C76.0589 11.11 76.3289 11.545 76.5209 12.061C76.7189 12.571 76.8179 13.153 76.8179 13.807C76.8179 14.107 76.7849 14.308 76.7189 14.41C76.6529 14.512 76.5329 14.563 76.3589 14.563H70.4639ZM80.4314 11.035C80.6294 10.831 80.8334 10.648 81.0434 10.486C81.2594 10.318 81.4874 10.174 81.7274 10.054C81.9674 9.934 82.2224 9.841 82.4924 9.775C82.7624 9.709 83.0564 9.676 83.3744 9.676C83.8784 9.676 84.3194 9.76 84.6974 9.928C85.0814 10.096 85.4024 10.333 85.6604 10.639C85.9244 10.945 86.1224 11.314 86.2544 11.746C86.3864 12.172 86.4524 12.643 86.4524 13.159V19H84.5264V13.159C84.5264 12.541 84.3824 12.061 84.0944 11.719C83.8124 11.377 83.3804 11.206 82.7984 11.206C82.3664 11.206 81.9644 11.305 81.5924 11.503C81.2264 11.701 80.8814 11.971 80.5574 12.313V19H78.6224V9.82H79.7924C80.0564 9.82 80.2244 9.943 80.2964 10.189L80.4314 11.035ZM91.5322 19.144C90.7702 19.144 90.1822 18.931 89.7682 18.505C89.3602 18.073 89.1562 17.467 89.1562 16.687V11.341H88.1482C88.0402 11.341 87.9472 11.308 87.8692 11.242C87.7912 11.17 87.7522 11.065 87.7522 10.927V10.144L89.2372 9.928L89.6602 7.273C89.6902 7.171 89.7412 7.09 89.8132 7.03C89.8852 6.964 89.9812 6.931 90.1012 6.931H91.0912V9.946H93.6382V11.341H91.0912V16.552C91.0912 16.882 91.1722 17.134 91.3342 17.308C91.4962 17.482 91.7122 17.569 91.9822 17.569C92.1322 17.569 92.2612 17.551 92.3692 17.515C92.4772 17.473 92.5702 17.431 92.6482 17.389C92.7262 17.341 92.7922 17.299 92.8462 17.263C92.9062 17.221 92.9632 17.2 93.0172 17.2C93.1252 17.2 93.2122 17.26 93.2782 17.38L93.8542 18.325C93.5542 18.589 93.2002 18.793 92.7922 18.937C92.3842 19.075 91.9642 19.144 91.5322 19.144Z' fill='%23F9F9F9'/%3E%3Cpath d='M1 12C1 14.4477 1.13246 16.3463 1.46153 17.827C1.78807 19.2963 2.29478 20.2921 3.00136 20.9986C3.70794 21.7052 4.70365 22.2119 6.17298 22.5385C7.65366 22.8675 9.55232 23 12 23C14.4477 23 16.3463 22.8675 17.827 22.5385C19.2963 22.2119 20.2921 21.7052 20.9986 20.9986C21.7052 20.2921 22.2119 19.2963 22.5385 17.827C22.8675 16.3463 23 14.4477 23 12C23 9.55232 22.8675 7.65366 22.5385 6.17298C22.2119 4.70365 21.7052 3.70794 20.9986 3.00136C20.2921 2.29478 19.2963 1.78807 17.827 1.46153C16.3463 1.13246 14.4477 1 12 1C9.55232 1 7.65366 1.13246 6.17298 1.46153C4.70365 1.78807 3.70794 2.29478 3.00136 3.00136C2.29478 3.70794 1.78807 4.70365 1.46153 6.17298C1.13246 7.65366 1 9.55232 1 12Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6C12 6 12 10 12 11C12 12 12 12 13 12C14 12 18 12 18 12' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#rated {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0312 1C13.0666 1 14.6926 5.69969 15.2795 7.50668C15.4141 7.92126 15.7943 8.20684 16.23 8.22162C18.1151 8.28556 23 8.55772 23 9.66144C23 10.7495 19.5188 13.4853 18.0955 14.5583C17.7427 14.8243 17.5982 15.2836 17.734 15.704C18.3132 17.4975 19.7048 22.1483 18.8117 22.8815C17.9323 23.6034 14.1749 20.7486 12.6485 19.5286C12.2692 19.2254 11.7305 19.2251 11.3511 19.528C9.82346 20.7477 6.06764 23.6035 5.25065 22.8815C4.41962 22.1471 5.73815 17.4816 6.28237 15.6949C6.40915 15.2786 6.26319 14.8287 5.91569 14.5668C4.4996 13.4997 1 10.7523 1 9.66144C1 8.55659 5.89498 8.285 7.77586 8.22142C8.20861 8.2068 8.58723 7.92462 8.72415 7.51385C9.32468 5.71216 10.9944 1 12.0312 1Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#downloaded {
    width: 1.5em;
    height: 1.4em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 10L12 15M12 15L7 10M12 15L12 1' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 5.296C5 4.62866 4.36871 4.13099 3.74865 4.37771C0.806956 5.54824 0 7.98146 0 12.7057C0 20.3595 2.118 21.9999 12 21.9999C21.882 21.9999 24 20.3595 24 12.7057C24 7.98146 23.193 5.54824 20.2513 4.37771C19.6313 4.13099 19 4.62866 19 5.296C19 5.74846 19.3009 6.13662 19.714 6.32119C20.0273 6.46119 20.2776 6.61212 20.4811 6.7697C21.4189 7.49607 22 8.88206 22 12.7057C22 16.5294 21.4189 17.9154 20.4811 18.6418C19.9576 19.0472 19.1238 19.4087 17.7047 19.653C16.2861 19.8972 14.436 19.9999 12 19.9999C9.56404 19.9999 7.71385 19.8972 6.2953 19.653C4.87622 19.4087 4.04241 19.0472 3.51891 18.6418C2.58107 17.9154 2 16.5294 2 12.7057C2 8.88206 2.58107 7.49607 3.51891 6.7697C3.72237 6.61212 3.97269 6.46119 4.28602 6.32119C4.69912 6.13662 5 5.74846 5 5.296Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A");
}

#playlist {
    width: 1.5em;
    height: 1.2em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.6 1C9.29038 1 10.8323 1.84142 12 2.8C13.1677 1.84142 14.7096 1 16.4 1C20.0451 1 23 3.71049 23 7.05386C23 13.795 15.3274 17.721 12.7981 18.8321C12.2886 19.056 11.7114 19.056 11.2019 18.8321C8.67259 17.721 1 13.7948 1 7.0537C1 3.71033 3.95492 1 7.6 1Z' stroke='%23F9F9F9' stroke-width='2'/%3E%3C/svg%3E%0A");
}

#watchlist {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12C1 14.4477 1.13246 16.3463 1.46153 17.827C1.78807 19.2963 2.29478 20.2921 3.00136 20.9986C3.70794 21.7052 4.70365 22.2119 6.17298 22.5385C7.65366 22.8675 9.55232 23 12 23C14.4477 23 16.3463 22.8675 17.827 22.5385C19.2963 22.2119 20.2921 21.7052 20.9986 20.9986C21.7052 20.2921 22.2119 19.2963 22.5385 17.827C22.8675 16.3463 23 14.4477 23 12C23 9.55232 22.8675 7.65366 22.5385 6.17298C22.2119 4.70365 21.7052 3.70794 20.9986 3.00136C20.2921 2.29478 19.2963 1.78807 17.827 1.46153C16.3463 1.13246 14.4477 1 12 1C9.55232 1 7.65366 1.13246 6.17298 1.46153C4.70365 1.78807 3.70794 2.29478 3.00136 3.00136C2.29478 3.70794 1.78807 4.70365 1.46153 6.17298C1.13246 7.65366 1 9.55232 1 12Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8V12M12 16V12M12 12H16H8' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#completed {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7071 9.70712C17.0976 9.3166 17.0976 8.68343 16.7071 8.29291C16.3166 7.90238 15.6834 7.90238 15.2929 8.29291L11 12.5858L9.20712 10.7929C8.8166 10.4024 8.18343 10.4024 7.79291 10.7929C7.40238 11.1834 7.40238 11.8166 7.79291 12.2071L10.2929 14.7071C10.6834 15.0976 11.3166 15.0976 11.7071 14.7071L16.7071 9.70712Z' fill='%23F9F9F9'/%3E%3Cpath d='M1 12C1 14.4477 1.13246 16.3463 1.46153 17.827C1.78807 19.2963 2.29478 20.2921 3.00136 20.9986C3.70794 21.7052 4.70365 22.2119 6.17298 22.5385C7.65366 22.8675 9.55232 23 12 23C14.4477 23 16.3463 22.8675 17.827 22.5385C19.2963 22.2119 20.2921 21.7052 20.9986 20.9986C21.7052 20.2921 22.2119 19.2963 22.5385 17.827C22.8675 16.3463 23 14.4477 23 12C23 9.55232 22.8675 7.65366 22.5385 6.17298C22.2119 4.70365 21.7052 3.70794 20.9986 3.00136C20.2921 2.29478 19.2963 1.78807 17.827 1.46153C16.3463 1.13246 14.4477 1 12 1C9.55232 1 7.65366 1.13246 6.17298 1.46153C4.70365 1.78807 3.70794 2.29478 3.00136 3.00136C2.29478 3.70794 1.78807 4.70365 1.46153 6.17298C1.13246 7.65366 1 9.55232 1 12Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#settings {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.415 3.83878C14.7095 0.0537398 9.2905 0.0537401 8.58499 3.83878C8.41886 4.73006 7.49808 5.26091 6.64603 4.96004C3.01257 3.67704 0.312178 8.37772 3.23044 10.8784C3.91803 11.4676 3.91803 12.5324 3.23044 13.1216C0.312178 15.6223 3.01257 20.323 6.64603 19.04C7.49808 18.7391 8.41886 19.2699 8.58499 20.1612C9.2905 23.9463 14.7095 23.9463 15.415 20.1612C15.5811 19.2699 16.5019 18.7391 17.354 19.04C20.9874 20.323 23.6878 15.6223 20.7696 13.1216C20.082 12.5324 20.082 11.4676 20.7696 10.8784C23.6878 8.37772 20.9874 3.67704 17.354 4.96004C16.5019 5.26091 15.5811 4.73006 15.415 3.83878Z' stroke='%23F9F9F9' stroke-width='2' stroke-linejoin='round'/%3E%3Ccircle cx='4' cy='4' r='3' transform='matrix(-1 0 0 1 16 8)' stroke='%23F9F9F9' stroke-width='2'/%3E%3C/svg%3E%0A");
}

#logout {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='27' viewBox='0 0 24 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13.0909C1 15.6437 1.0665 17.4629 1.28113 18.8163C1.49358 20.1558 1.83711 20.9396 2.31996 21.4951C2.81162 22.0608 3.54214 22.5002 4.75903 22.9651C5.66398 23.3108 6.75137 23.6409 8.10867 24.0529C8.59827 24.2015 9.12299 24.3608 9.68693 24.5353C11.7072 25.1605 13.1538 25.2957 14.1923 25.0968C15.1715 24.9092 15.8493 24.4144 16.3628 23.5693C16.9059 22.6756 17.2748 21.3685 17.4967 19.5765C17.7171 17.7974 17.7826 15.6354 17.7826 13.0909C17.7826 10.5464 17.7171 8.38434 17.4967 6.60527C17.2748 4.81331 16.9059 3.50619 16.3628 2.61248C15.8493 1.76741 15.1715 1.27265 14.1923 1.08506C13.1538 0.886116 11.7072 1.02136 9.68692 1.64651C9.12307 1.821 8.59843 1.98025 8.1089 2.12884C6.75149 2.54086 5.66403 2.87095 4.75903 3.21667C3.54214 3.68153 2.81162 4.12095 2.31996 4.6866C1.83711 5.24211 1.49358 6.02592 1.28114 7.36551C1.0665 8.71892 1 10.5381 1 13.0909Z' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cellipse cx='1.04348' cy='1.04727' rx='1.04348' ry='1.04727' transform='matrix(-1 0 0 1 14.6087 12.2205)' fill='%23F9F9F9'/%3E%3Cpath d='M17.7391 22.5164C22.9565 22.5164 22.9565 21.243 22.9565 13.2604C22.9565 5.27781 22.9565 3.66545 17.7391 3.66545' stroke='%23F9F9F9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/* main */
.main {
    background-color: #16181e;
}

/* heaeder */
.header {
    width: 100%;
    height: 7em;
    padding: 40px;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    align-items: center;
    background-color: #16181e;
    color: aliceblue;

}

.select {
    padding: 10px;
    height: 50px;
    width: 160px;
    margin-left: 20px;

}

.select:hover{
    cursor: pointer;
    border-bottom: 6px solid #00b9ae;
    
}

.header,
h3 {
    color: white;
    font-size: 1.3em;
    margin-left: 10px;
}
.select,h3:hover{
    color: #00b9ae;
}

.pesquisa {
    display: flex;
    align-items: center;

    padding: 10px;
    width: 90%;
    height: 3em;
    border-radius: 10px;
    border: none;
    position: relative;
    background-color: #21242d;
}

.pesquisa,
input {
    border: none;
    outline: none;
}

#icon-seach {
    position: absolute;
    height: 1.1em;
    width: 1.1em;
    margin-left: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11.4783C1 15.8486 1.78302 18.3581 3.30283 19.8237C4.83125 21.2975 7.35021 21.9565 11.4783 21.9565C15.6063 21.9565 18.1253 21.2975 19.6537 19.8237C21.1735 18.3581 21.9565 15.8486 21.9565 11.4783C21.9565 7.10793 21.1735 4.59845 19.6537 3.13291C18.1253 1.65907 15.6063 1.00002 11.4783 1.00002C7.35021 1.00002 4.83125 1.65907 3.30283 3.13291C1.78302 4.59845 1 7.10793 1 11.4783Z' stroke='%23AEAFB2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.9565 22.9565L20.3478 20.3478' stroke='%23AEAFB2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#pesquisa {
    width: 100%;
    height: 2em;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
    font-size: 1.1em;
    color: grey;
    background-color: #21242d;
}

#icon-filter {
    height: 1.1em;
    width: 1.2em;
    margin-right: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33737 1H16.6626C18.5164 1 19.7323 3.28152 18.516 4.97213L12.9638 12.689C12.5511 13.2625 12.3313 13.9549 12.3313 14.6621V19.7513C12.3313 20.1568 12.1581 20.5302 11.8764 20.7748L9.65553 22.7041C8.92005 23.343 7.66868 22.8712 7.66868 21.6805V14.6621C7.66868 13.9549 7.44888 13.2625 7.03624 12.689L1.48404 4.97213C0.267673 3.28152 1.48356 1 3.33737 1Z' stroke='%23F9F9F9' stroke-opacity='0.67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 5H13' stroke='%23F9F9F9' stroke-opacity='0.67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/* img-banner */
.banner {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #16181e;
}

.img-banner {
    background-image: url('/images/Picture.png');
    background-position: center;
    background-size: cover;
    width: 88%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    /* grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    gap: 8px;
    grid-template-areas:
    "titulo "
    "btn "
    "watch"; */

}
.content-banner{
    display: flex;
  
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
   
   
}

/* .titulo-banner{
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.titulo-banner, h1{
    padding: 10px;
    font-size: 3em;
    margin-left: 1em;
    margin-top: 4px;
    height: 3em;
    color: aliceblue;
}
.btn-banner{
  width: 100%;
  height: 2em;
  display: flex;
 justify-content: space-between;
}
.btn-banner{
  
    height: 3.5em;
}
.btn-banner>button{
    width: 3rem;
   
    cursor:pointer;
    height: 3rem;
    background-color: #afafb078;
    
    outline: none;
    border: none;
    border-radius: 20%;
}
.btn-banner>button:hover{
    background-color: #84848787;
   
}
#prev{
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 -6 15 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14L2 8L8 2' stroke='%23F9F9F9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}
#prox{
    
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 -6 12 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L8 8L2 14' stroke='%23F9F9F9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}
.watchlist{
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  align-items:end;
  padding: 8px;

}
.vector{
    width: 1.3rem;
    height: 1.3rem;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 2V10.5M10.5 19V10.5M10.5 10.5H19H2' stroke='%23F9F9F9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.watch{
    display: flex;
    margin-left: 20px;
    gap: 10px;
    border-radius: 12px;
    width: 12rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #8b8c9152;
    padding: 10px;
   
    

}
.watch:hover{
    cursor: pointer;
    background-color: #84848787;
}
.watch>h4{
   color: aliceblue;
   
   font-size: 1.3rem;
}
.cicle-item{
    display: flex;
    margin-left: 20px;
    gap: 10px;
    border-radius: 12px;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #8b8c9152;
    padding: 10px;
    margin-bottom: 10px;
}
#cicle-1{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #00b9ae;
}
.cicle{
    border-radius: 50%;
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    
}
.cicle:hover,#cicle-1:hover{
    cursor: pointer;
}
.watch-now{
    height: 4rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    padding:6px;
    background-color: #00b9ae;
    margin-right: 20px;

}
.watch-now:hover{
    cursor: pointer;
    background-color: #00cabd;
}
.watch-now>h3{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


/*popular movies*/
.popular-movies{
    width: 100%;
    height:40%;
    display: flex;
    flex-direction: column;
}
.title-popular-movie{
    width: 100%;
}
.cards{
    display: flex;
    width: 100%;
   height: 100%;
   justify-content: space-around;
}
/* aside */
.aside {
    height: 100vh;
    background-color: #21242d;
}